body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    margin-top:80px;
    color:#0d6efd;
    font-size:42px;
}

h3{
    color:#444;
    margin-bottom:40px;
}

button{
    width:220px;
    padding:15px;
    margin:10px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#0d6efd;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#084298;
}